<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <!-- Directory where your test files are located -->
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_DATABASE" value="library"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
    
    <coverage>
        <!-- Include the src/ directory in the code coverage report -->
        <include>
            <directory>src/</directory>
        </include>
    </coverage>
</phpunit>